<html>
  <head>
    <title>Key Accounts - Create New Key Account</title>
    REPLACE_WITH_HEAD
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <a href="overview.php"><img class="left sprd-logo" src="../resource/img/sprdlogo.png"></a>
        <h1 class="inverse navbar-title" id="instance-navigation-title">Key Accounts - Create New</h1>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        REPLACE_WITH_NAVIGATION
        <div class="hidden" id="instance-view-name">add_key_account</div>

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 id="instance-dashboard-title" class="page-header">Please fill in the form to create a new key account<br>(for this tool only)</h1>
            <div class="form-group">
              <label for="instance-account-name">Key Account Name</label>
              <input type="text" class="form-control" id="instance-add-account-name" placeholder="Key Account Name">
            </div>
            <div class="form-group">
              <label for="instance-account-description">Description</label>
              <textarea type="text" class="form-control" id="instance-add-account-description" placeholder="Description"></textarea>
            </div>
            <button type="button" class="btn btn-sm btn-primary" id="instance-btn-add-account">Create</button>
        </div>
      </div>
    </div>
  </body>
</html>
