<html>
  <head>
    <title>Key Accounts - Help</title>
    REPLACE_WITH_HEAD
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <a href="overview.php"><img class="left sprd-logo" src="../resource/img/sprdlogo.png"></a>
        <h1 class="inverse navbar-title" id="instance-navigation-title">Key Accounts - Help</h1>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        REPLACE_WITH_NAVIGATION
        <div class="hidden" id="instance-view-name">help</div>

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="grey page-header">Getting Started</h1>
          <p>This help page is currently in development.<br><br>
          <b>Please watch the video below to learn how to add a key account, comment and create a landingpage.</b></p>
          <br>
          <video id="sampleMovie" src="../doc/keyaccountmanagement.ogv" class="help-video" controls></video>
        </div>
      </div>
    </div>

    <script>
      /* $(".spoiler-trigger").click(function() {
        $(this).parent().next().collapse('toggle');
      }); */
    </script>
  </body>
</html>
