<html>
  <head>
    <title>Key Accounts - Login</title>
    REPLACE_WITH_HEAD
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <a href="overview.php"><img class="left sprd-logo" src="../resource/img/sprdlogo.png"></a>
        <h1 class="inverse navbar-title" id="instance-navigation-title">Please login to continue</h1>
      </div>
    </nav>
    <div class="container">
      <div class="form-group">
        <label for="instance-password">Password</label>
        <input type="password" class="form-control" id="instance-password" placeholder="Password">
      </div>
      <button type="button" class="btn btn-sm btn-primary" id="instance-btn-login">Login</button>
    </div>
  </body>
</html>
