<html>
  <head>
    <title>Key Accounts - Overview</title>
    REPLACE_WITH_HEAD
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <a href="overview.php"><img class="left sprd-logo" src="../resource/img/sprdlogo.png"></a>
        <h1 class="inverse navbar-title" id="instance-navigation-title">Key Accounts - Overview</h1>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        REPLACE_WITH_NAVIGATION
        <div class="hidden" id="instance-view-name">overview</div>

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 id="instance-dashboard-title" class="page-header">Key Accounts</h1>
          <div class="row tiles" id="keyaccount-list">
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
