<p class="module-selection">Uncategorized Modules:</p>
<select class="form-control module-selection" id="instance-select-module-uncategorized">
  <option value="none">- None -</option>
  REPLACE_WITH_MODULE_SELECTION_UNCATEGORIZED
</select>
<p class="module-selection">Spaces:</p>
<select class="form-control module-selection" id="instance-select-module-spaces">
  <option value="none">- None -</option>
  REPLACE_WITH_MODULE_SELECTION_SPACES
</select>
<p class="module-selection">Images:</p>
<select class="form-control module-selection" id="instance-select-module-images">
  <option value="none">- None -</option>
  REPLACE_WITH_MODULE_SELECTION_IMAGES
</select>
<p class="module-selection">Social Media:</p>
<select class="form-control module-selection" id="instance-select-module-social">
  <option value="none">- None -</option>
  REPLACE_WITH_MODULE_SELECTION_SOCIAL
</select>
<p class="module-selection">Tracking:</p>
<select class="form-control module-selection" id="instance-select-module-tracking">
  <option value="none">- None -</option>
  REPLACE_WITH_MODULE_SELECTION_TRACKING
</select>
<div id="instance-dialogue-preview-wrapper" class="dialogue-preview-wrapper">
  <img class="module-selection module-preview" id="instance-dialogue-module-preview">
  <h3 class="module-selection" id="instance-dialogue-module-name"></h3>
  <p class="module-selection" id="instance-dialogue-module-description"></p>
  <button type="button" class="btn btn-sm btn-primary hidden btn-confirm-module" id="instance-btn-confirm-module">Add</button>
  <div class="hidden" id="instance-module-information">REPLACE_WITH_MODULE_INFORMATION</div>
</div>