<script src="../lib/jquery-1.11.3.min.js"></script>
<script src="../lib/pikaday.js"></script>
<script src="../lib/jquery-ui-1.11.4.min.js"></script>
<script src="../style/bootstrap/js/transition.js"></script>
<script src="../style/bootstrap/js/collapse.js"></script>
<script src="../style/bootstrap/js/bootstrap.min.js"></script>
<script src="../lib/moment-with-locales.min.js"></script>
<script src="../lib/bootstrap-datetimepicker.min.js"></script>
<link rel="stylesheet" href="../style/jquery-ui-1.11.4.min.css">
<link rel="stylesheet" href="../style/pikaday.css">
<link rel="stylesheet" href="../style/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="../style/bootstrap/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="../style/bootstrap-datetimepicker.min.css">
<link href="//fonts.googleapis.com/css?family=Roboto:100|Raleway" rel="stylesheet" type="text/css">
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="../style/style.css">
