<li id="panel-container-REPLACE_WITH_MODULE_NAME" class="panel module-panel">
  <div id="panel-name-REPLACE_WITH_MODULE_NAME" class="panel-heading module-panel-heading"><i class="fa fa-arrows"></i> REPLACE_WITH_MODULE_NAME</div>
  <div id="panel-description-REPLACE_WITH_MODULE_NAME" class="panel-body module-description module-panel-body">REPLACE_WITH_MODULE_DESCRIPTION <i class="fa fa-hand-o-up"></i></div>
  <div id="panel-original-REPLACE_WITH_MODULE_NAME" class="hidden">REPLACE_WITH_ORIGINAL_MODULE_NAME</div>
</li>
